#Meta
.meta/
.idea/
.phpintel/
*.sublime-project
.DS_Store
.vscode

#Env
.env

#Dependencies
node_modules/
vendor/

#Assets
public/images/
public/modules/
public/themes/
public/build/
public/pwa/
Modules/*/Assets/
Themes/*/assets/

#Fonts
Themes/Storefront/resources/assets/public/fonts/

#Storage
public/storage/

#Logs
public/phplog
storage/logs/*
Modules/*/yarn-error.log
npm-debug.log
yarn-error.log
*.log

#Others
tools/
*.map
tags/
public/hot
mix-manifest.json
public/sitemaps/*
public/sitemap.xml
.php-cs-fixer.cache
